<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rushme.timecat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        android:name="org.rushme.timecat.tasks.MyExit" >
        <activity
            android:name="org.rushme.timecat.tasks.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name ="org.rushme.timecat.tasks.taskEdit"
            android:parentActivityName="org.rushme.timecat.tasks.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rushme.timecat.tasks.Main"/>
        </activity>  
        
   		<activity android:name ="org.rushme.timecat.tasks.statistics"></activity>
   		<activity android:name ="org.rushme.timecat.tasks.settings"></activity>  
 
   		<activity android:name ="org.rushme.timecat.tasks.showTask"
            android:parentActivityName="org.rushme.timecat.tasks.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.rushme.timecat.tasks.Main"/>
        </activity>
   		
   		<activity android:name ="org.rushme.timecat.tasks.expiredList"></activity> 
   		<activity android:name ="org.rushme.timecat.tasks.completedList"></activity> 
   		        <activity android:name="org.rushme.timecat.menu.menu"></activity>
   		<activity android:name = "org.rushme.timecat.menu.menu_completedList"></activity> 
   		   		<activity android:name ="org.rushme.timecat.menu.menu_expiredList"></activity>
   		<activity android:name = "org.rushme.timecat.menu.menu_statistics"></activity> 
   		<activity android:name = "org.rushme.timecat.menu.menu_settings"></activity> 
   		<activity android:name ="org.rushme.timecat.menu.menu_ActiveTask"></activity>  
   		<activity android:name ="org.rushme.timecat.menu.menu_taskEdit"></activity> 
   		
   		
        </application>
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>    
        
</manifest>
